<nav class="bg-white h-full shadow-md flex flex-col">
  <div class="pt-6 pr-10 pb-6 pl-6 font-bold text-xl text-blue-700">Hunhu</div>
  <div class="px-6">
    <ul>
      <li>
        <a routerLink="/admin/dashboard"
           class="flex items-center gap-3 px-6 py-3 rounded-lg transition-colors hover:text-[#1952B3]"
           [ngClass]="{ '!bg-[#1952B3] !text-white': isActivePath('/admin/dashboard') }">
          <span class="material-icons">radio_button_checked</span>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/admin/agency"
           class="flex items-center gap-3 px-6 py-3 rounded-lg transition-colors hover:text-[#1952B3]"
           [ngClass]="{ '!bg-[#1952B3] !text-white': isActivePath('/admin/agency') }">
          <span class="material-icons">groups</span>
          Agency
        </a>
      </li>
      <li>
        <a routerLink="/admin/category"
           class="flex items-center gap-3 px-6 py-3 rounded-lg transition-colors hover:text-[#1952B3]"
           [ngClass]="{ '!bg-[#1952B3] !text-white': isActivePath('/admin/category') }">
          <span class="material-icons">category</span>
          Category
        </a>
      </li>
      <li>
        <a routerLink="/admin/payment-history"
           class="flex items-center gap-3 px-6 py-3 rounded-lg transition-colors hover:text-[#1952B3]"
           [ngClass]="{ '!bg-[#1952B3] !text-white': isActivePath('/admin/payment-history') }">
          <span class="material-icons">history</span>
          Payment History
        </a>
      </li>
    </ul>
    <div class="border-t mt-4 pt-4">
      <a routerLink="/admin/settings"
         class="flex items-center gap-3 px-6 py-3 rounded-lg transition-colors hover:text-[#1952B3]"
         [ngClass]="{ '!bg-[#1952B3] !text-white': isActivePath('/admin/settings') }">
        <span class="material-icons">settings</span>
        Settings
      </a>
      <a routerLink="/admin/logout"
         class="flex items-center gap-3 px-6 py-3 rounded-lg transition-colors hover:text-[#1952B3]"
         [ngClass]="{ '!bg-[#1952B3] !text-white': isActivePath('/admin/logout') }">
        <span class="material-icons">logout</span>
        Logout
      </a>
    </div>
  </div>
</nav>
