<label *ngIf="label" class="block text-xs font-semibold mb-1 text-gray-700">{{ label }}</label>
<textarea
  [maxlength]="maxlength"
  [rows]="rows"
  class="w-full border border-[#E0E7EF] px-4 py-2 text-sm focus:ring-2 focus:ring-[#1952B3]"
  [placeholder]="placeholder"
  [(ngModel)]="value"
  [disabled]="disabled"
  (ngModelChange)="valueChange.emit($event)"
  style="border-radius:0;"
></textarea>
<div class="text-xs text-gray-400 text-right mt-1">{{ value?.length || 0 }}/{{ maxlength }}</div>
