@use '@angular/material' as mat;

@include mat.core();

$hunhu-primary: mat.define-palette(mat.$indigo-palette);
$hunhu-accent:  mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);
$hunhu-theme:   mat.define-light-theme((
  color: (
    primary: $hunhu-primary,
    accent: $hunhu-accent,
  ),
));

@include mat.all-component-themes($hunhu-theme);

:root {
  --primary: #3B82F6;
  --secondary: #22C55E;
  --background: #F4F6FA;
  --card: #FFFFFF;
  --text: #111827;
}
